
:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
    --drblue: #000066;
  }

  * {
    color: var(--fontColor);
    font-family: helvetica;
    font-size: 14px;
  }
  
  @media only screen and (max-width: 1950px) {
  body {
    background-image: url("nw.png");
    background-position: 0px -150px;
    background-repeat: repeat-x;
    background-size: 50% 400px;
    height: 100%;
    /*background: var(--bg);*/
  }
}

@media only screen and (min-width: 1951px) {
  body {
    background-image: url("nw.png");
    background-position: 0px -150px;
    background-repeat: repeat-x;
    background-size: 50% 400px;
    height: 100%;
    /*background: var(--bg);*/
  }
}


  .light-theme {
    --bg: var(--white);
    --fontColor: var(--drblue);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
  
  .tervitus {
    column-count: 2;
    width: 57rem;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background: var(--bg);
  }
  .terv, #kys, #terv1 {
    text-align: center;
    margin-top: 140px;
    font-weight: bold;
  }
#terv13 {
    text-align: center;
}

  .tre {
    text-align: justify;
    text-justify: inter-word;
  }

#alusta {
  margin-left: 30%;
  margin-right: 0;
  background-color: #0099cc;
  border: #0099cc;
}

#frm {
    width: 40rem;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    /*background: var(--bg);*/
}

.form-group{
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 10px;
  padding-left: 0;
}

.form-check {
  margin-bottom: 10px;
  padding-left: 0;
}

#kystxt {
  width: 40rem;
  margin: auto;
  margin-bottom: 30px;
  text-align: justify;
  margin-top: 15px;
  /*background: var(--bg);*/
}

.lbkys {
  font-weight: bold;
  display:block;
}
/*.lugv {
  display:block;
}*/

/*.lbradio {
  display: 
}*/

option {
  min-width: 50px;
  min-height: 20px;
  border-radius: 5px;
}

input[type=text] {
  border: 1.5px solid var(--drblue);
  border-radius: 4px;
  min-width: 200px;
  margin-left: 10px;
}

input[type=radio] {
margin: 5px;
margin-left: 10px;
}

input[type=checkbox] {
  margin: 5px;
  margin-left: 10px;
  }

input[type=submit] {
  margin: 5px;
  margin-left: 10px;
  background-color: #0099cc;
  border: #0099cc;
}

select {
  border: 1.5px solid var(--drblue);
  border-radius: 4px;
  min-width: 100px;
  min-height: 22px;
  margin-left: 10px;
}

#testryhm {
  text-align: center;
  width: 57rem;
  margin: auto;
}

.yl {
  width: 57rem;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  /*background: var(--bg);*/
}

img {
  max-width: 40rem;
  max-height: 20rem;
  display: block;
}

button, .btn {
  background-color: #0099cc;
  border: #0099cc;
}

p {
  text-align: justify;
}

.sega {
  border: 1.5px solid var(--drblue);
  border-radius: 4px;
  min-width: 900px;
  min-height: 22px;
}

.tul {
  margin: 0;
  /*margin-left: 20rem;*/
  font-weight: bold;
  text-align: center;
}

#t5 {
  font-weight: bold;
}

#allt1, #allt2 {
  margin-top: 20px;
  font-size: 10px;
  margin-left: 10px;
}

#allk1, #allk2 {
  font-size: 10px;  
}